.expense__input--form {
  height: 100vh;
  padding-top: 5em;
  width: 85%;
  h3 {
    box-shadow: 4px 3px 5px lightgrey;
    padding: 0.5em 1em;
    margin-left: 3em;
    background: #456182;
    z-index: -999;
    display: inline;
    border-radius: 5px;
    color: #f1f1f1;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
  }
}

.input__form--content {
  background: #fff;
  border-radius: 14px;
  box-shadow: 4px 3px 5px lightgrey;
  padding: 2.5em;
}

.add__expense--btn {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.addExpense__btn {
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  box-shadow: 1px 2px 10px grey;
  background: #456182;
}
.addExpense__btn:hover {
  background: #fff;

}

input[type='text'] {
  width: 80%;
  margin-left: 0.5em;
  background: transparent;
  border: 0;
  border-bottom: 2px solid lightgray;
  // padding: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.0rem;
}
input:hover{
  border-bottom: 2px solid #27708c;
}

select {
  background: #fff;
  border: 0;
  border-radius: 2px;
  padding: 1em;
  padding: 0;
}


.input__form--selections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.input__form--amount,
.input__form--description {
  display: flex;
  padding: 1em 0;
  label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.0rem;
    color: #fff;
  }
  img {
    width: 10%;
    height: 10%;
  }
}

.input__form--roommates {
  padding: 2em 1em;
  display: flex;
}

.roomates__names {
  padding-left: 2em;
  display: flex;
  justify-content: space-between;
  width: 50%;
  span {
    border: 2px solid #456182;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
    padding: 1.1em;
  }
  span:hover{
    box-shadow: 2px 3px 10px gray;
    cursor: pointer;
  }
}

.highlight {
  background: #456182;
  color: #fff
}


@media(max-width: 500px) {
  .expense__input--form {
    padding-top: 2em;
  }
}
